################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Tienda/.vs/Tienda/FileContentIndex/bc047fa6-040d-4ea8-a270-bf3982a47162.vsidx
