################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Tienda/.vs/Tienda/FileContentIndex/bc047fa6-040d-4ea8-a270-bf3982a47162.vsidx
/Tienda/.vs/Tienda/FileContentIndex/13c35935-2e07-416a-8def-9c45ee590f16.vsidx
/Tienda/.vs/Tienda/FileContentIndex/fe59f161-3298-4cf9-904d-96ca8437a3f9.vsidx
